@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    background-color: #222e50;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    color: #fff;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
}

.clear {
    clear: both;
}

.select-container {
    margin: 20px 0;
}

.select-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 15px;
    padding: 5px 15px;
}

.seat {
    background-color: #a8dadc;
    height: 15px;
    width: 15px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.25);
}

.seat:nth-of-type(2) {
    margin-right: 30px;
}

.seat:nth-last-of-type(2) {
    margin-left: 30px;
}

.seat.selected {
    background-color: #fcbf49;
}

.seat.occupied {
    background-color: #007991;
}


/* .seat.occupied {
    cursor: not-allowed;
} */

.legend .seat:hover {
    cursor: default;
    transform: scale(1);
}

.legend {
    background-color: rgba(0, 0, 0, .12);
    padding: 5px 10px;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.legend li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.legend li small {
    margin-left: 5px;
}

.screen {
    background-color: #fff;
    width: 100%;
    height: 80px;
    margin: 30px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(225, 255, 255, 0.5);
}

.container {
    perspective: 1000px;
}

p.totals span {
    color: #fcbf49;
    ;
}